.botonMenu{
	float: left;
	margin: 2px;
	padding: 4px;
	background: black;
	color:white;
	border-radius: 3px;
	text-decoration: none;
}

body{
	font-family: arial;
}

table{
	border-collapse: collapse;
	font-size: 10px;
}


td{
	padding: 4px;
}

tr{
	border-bottom: dashed gray 1px;
}

input{
	border:0px;
	box-shadow: 0px 5px 8px rgba(0,0,0,0.2) inset;
	padding: 4px;
	background: rgb(240,240,240);
	border-radius: 4px;
	font-size: 10px;
}

.btn, button{
	box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
	border:0px;
	padding: 4px;
	font-size: 10px;
}

.sombreado{
	background: rgb(220,220,220);
}